@mixin primary-button {
    background-color: $primary;
    color: #ec663e;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border-radius: 2rem;
    padding: 0.4rem 1.5rem;
    border: none;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  @mixin secondary-button {
    background-color: $primary;
    color: #ec663e;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    border-radius: 2rem;
    padding: 0.4rem 3rem;
    border: none;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: darken($primary, 10%);
    }
  }
