$primary: #ec663e;
$text-dark: #a3a8ae;
$border-color: #d6d7d8;
$link-color: #a3a8ae;
$link-hover-color: darken(#ec663e, 10%);

$container-max-width: 1200px;

$font-family-base: 'Barlow', sans-serif;
$font-size-base: 1rem;
$font-size-sm: 0.9rem;
$font-size-xs: 0.7875rem;
$h1-font-size: 2.7rem;
